id	assetCode	windowTimestamp	dataType	systemVersion	buzz	relativeBuzz	sentiment	optimism	fear	joy	trust	violence	conflict	gloom	stress	timeUrgency	uncertainty	emotionVsFact	loveHate	anger	debtDefault	innovation	marketRisk	budgetDeficit	businessExpansion	centralBank	commercialRealEstateSentiment	consumerSentiment	creditEasyVsTight	economicGrowth	economicUncertainty	economicVolatility	financialSystemInstability	fiscalPolicyLooseVsTight	governmentAnger	governmentCorruption	governmentInstability	inflation	inflationForecast	interestRates	interestRatesForecast	investmentFlows	monetaryPolicyLooseVsTight	naturalDisasters	regimeChange	residentialRealEstateGrowth	residentialRealEstateSales	residentialRealEstateSentiment	residentialRealEstateValues	sanctions	socialInequality	socialUnrest	tradeBalance	unemployment
mp:1900-01-01_00.00.00.News.COU.ZZ	ZZ	1900-01-01T00:00:00.000Z	ANY	2.2.18	4711.2	0.005807	-0.046379	-0.002866	0.004776	0.005943	-0.002255	0.346621	-0.009976	0.012205	0.045318	0.008172	0.004988	0.020297	0.005307	0.005731	0.0	0.0	-0.009318	0.0	0.0	0.0	0.0	0.0	0.0	0.018891	0.000212	0.003821	0.0	0.0	0.001698	0.000425	0.007641	0.0	0.0	0.0	0.0	0.0	0.0	0.000637	0.0	0.0	0.0	-0.000849	0.0	0.0	0.0	0.015283	0.0	0.0